// ---------------------------------------------------------
// Color Scheme - LIGHT
// ---------------------------------------------------------

// Core Color
$green2: $color-green2;

$brand-primary: $green2;

// --------------------
// Typography
// ---
// links  
$link-color:                $brand-primary;
$link-hover-color: hsla(165, 35%, 65%, 1);