// Core Color
$light-color-blue: $color-green2;

$blue: $light-color-blue;
$brand-primary: $blue;

// --------------------
// Typography
// ---
// links  
$link-color:                $brand-primary;
$link-hover-color: hsla(165, 35%, 65%, 1);
