// Core Color
$light-color-blue: $color-green;

$blue: $light-color-blue;
$brand-primary: $blue;

// --------------------
// Typography
// ---
// links  
$link-color:                $brand-primary;
$link-hover-color: hsla(98, 26%, 67%, 1);
