div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-1
    .col-sm-10.avenir-db
      h1 Change Account Settings
    .col-sm-1
  .row
    .col-sm-1
    .col-sm-10
      hr
    .col-sm-1
  //If user is from edmodo, refer them there for settings.
  .row(ng-if='user.provider=="edmodo"')
    .col-sm-2
    .col-sm-8.avenir-light
      p
        | Please refer to your account with 
        a(href='http://www.edmodo.com')
          | Edmodo
        | to update personal information and password.
    .col-sm-2
  //If user is from google, refer them there for settings.
  .row(ng-if='user.provider=="google"')
    .col-sm-2
    .col-sm-8.avenir-light
      p
        | Please refer to your account with 
        a(href='http://plus.google.com')
          | Google+ 
        | to update personal information and password.
    .col-sm-2
  //If user if from facebook, refer them there for settings.
  .row(ng-if='user.provider=="facebook"')
    .col-sm-2
    .col-sm-8.avenir-light
      p
        | Please refer to your account with 
        a(href='http://www.facebook.com')
          | Facebook 
        | to update personal information and password.
    .col-sm-2
  //ALlow local users to update their account.
  .row(ng-if='user.provider=="local"||user.provider=="seed"')
    .col-sm-12
      .row
        .col-sm-2
        .col-sm-8.avenir-db
          h3 Personal Information
        .col-sm-2
      .row
        .col-sm-2
        .col-sm-8.avenir-light
          form.form(name='personalInfo', ng-submit='changeAccountInfo(personalInfo)', novalidate='')
            .form-group
              label Name
              p.bg-warning(ng-if='canChangeName')
                | You can only change your name once. Do so wisely!
              input.omni-input.form-control(type='text', name='userName', ng-model='user.name', ng-pattern='/^[a-zA-Z][a-zA-Z .]*-?[a-zA-Z .]+$/', ng-required='true', ng-disabled='!canChangeName')
              p.help-block(ng-show='personalInfo.userName.$error.required && infoSubmitted')
                | Required
              p.help-block(ng-show='form.name.$error.pattern && submitted')
                | Your name should start with a letter, and only include letters, spaces, dashes, or periods.
            .form-group
              label E-Mail
              input.omni-input.form-control(type='email', name='email', ng-model='user.email', ng-required='true', mongoose-error='')
              p.help-block(ng-show='personalInfo.email.$error.required && infoSubmitted')
                | Required
              p.help-block(ng-show='personalInfo.email.$error.mongoose')
                | {{ errors.email }}
            p.help-block {{ infoMessage }}
            
            button.btn.btn-lg.btn-danger(type='submit') Save Changes
        .col-sm-2
      .row
        .col-sm-2
        .col-sm-8
          hr
        .col-sm-2
      .row
        .col-sm-2
        .col-sm-8.avenir-db
          h3 Password
        .col-sm-2
      .row
        .col-sm-2
        .col-sm-8.avenir-light
          form.form(name='form', ng-submit='changePassword(form)', novalidate='')
            .form-group
              label Current Password
              input.omni-input.form-control(type='password', name='password', ng-model='user.oldPassword', mongoose-error='')
              p.help-block(ng-show='form.password.$error.mongoose')
                | {{ errors.oldPassword }}
            .form-group
              label New Password
              input.omni-input.form-control(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
              p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || passSubmitted)')
                | Password must be at least 3 characters.

            p.help-block  {{ passMessage }}

            button.btn.btn-lg.btn-danger(type='submit') Change Password
        .col-sm-2
footer.footer(ng-include='"components/footer/footer.html"')
