$color-blue: #82A4BB;
$color-blue2: #59ABE3;
$color-green: lighten(#648054, 5);
$color-green2: #559686;
$color-orange: #F8901F;
$color-red: #B6542C;
$color-purple: lighten(saturate(#85768F, 5), 7);
//$color-purple: #BE90D4;
$color-brown: #A77748;