.container
  .row
    .col-xs-8.col-sm-10
      .pull-left
        a.footer-link(href='/') HOME 
        span &nbsp; | &nbsp;
        a.footer-link(href='/contact') CONTACT
        span &nbsp; | &nbsp;
        a.footer-link(href='/terms') TOS
        span &nbsp; | &nbsp;
        a.footer-link(href='/privacy') PRIVACY
    .col-xs-2.col-sm-1
      span: a(href='https://www.facebook.com/Omninox')
        img.img-responsive(src='/assets/images/facebook.png', style='width: auto; height: 2em;')
    .col-xs-2.col-sm-1
      span: a(href='https://www.twitter.com/omninoxco')
        img.img-responsive(src='/assets/images/twitter.png', style='width: auto; height: 2em;')
  br
  br
  .row
    .col-xs-12(style='color:gray')
      span Copyright &copy; 2014 Omninox Corp
  .row
    .col-xs-12(style='color:gray')
      span Certain words and subject names such as Advanced Placement and AP are trademarks of the College Board
