div(ng-include='"components/navbar/navbar.html"')
.container
  h1.avenir-db.text-center Contact Omninox
  p.lead.avenir-light.text-center Want to collaborate with us to solve your content needs? Or do you just want to say hi? We are pretty reachable either way. Just pick your favorite method below.

  //- Begin first row
  .row
    .col-xs-4.col-sm-2
      a(href='mailto:support@omninox.org')
        img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_email.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_email.png";this.onerror=null;')
    .col-xs-8.col-sm-4
      p.subhead.text-center.avenir-db Email
      p.copy.text-center.avenir-light: a(href='mailto:support@omninox.org') support@omninox.org
    .col-sm-2.hidden-xs
      a(href='tel:+13523635476')
        img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_phone.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_phone.png";this.onerror=null;')
    .col-sm-4.hidden-xs
      p.subhead.text-center.avenir-db Phone
      p.copy.text-center.avenir-light (352) 363-5476
  .row.visible-xs
    .col-xs-4
      img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_phone.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_phone.png";this.onerror=null;')
    .col-xs-8
      p.subhead.text-center.avenir-db Phone
      p.copy.text-center.avenir-light (352) 363-5476

  //- Begin second row
  .row
    .col-xs-4.col-sm-2
      a(href='https://www.facebook.com/Omninox')
        img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_facebook.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_facebook.png";this.onerror=null;')
    .col-xs-8.col-sm-4
      p.subhead.text-center.avenir-db Facebook
      p.copy.text-center.avenir-light: a(href='https://www.facebook.com/Omninox') Say hi on Facebook
    .col-sm-2.hidden-xs
      a(href='https://www.twitter.com/omniguides')
        img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_twitter.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_twitter.png";this.onerror=null;')
    .col-sm-4.hidden-xs
      p.subhead.text-center.avenir-db Twitter
      p.copy.text-center.avenir-light: a(href='https://www.twitter.com/omniguides') @omniguides
  .row.visible-xs
    .col-xs-4
      a(href='https://www.twitter.com/omniguides')
        img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_twitter.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_twitter.png";this.onerror=null;')
    .col-xs-8
      p.subhead.text-center.avenir-db Twitter
      p.copy.text-center.avenir-light: a(href='https://www.twitter.com/omniguides') @omniguides
 
  //- Begin third row
  .row
    .col-xs-4.col-sm-2
      img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_chat.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_chat.png";this.onerror=null;')
    .col-xs-8.col-sm-4
      p.subhead.text-center.avenir-db Chat
      p.copy.text-center.avenir-light Click the red box below
    .col-sm-2.hidden-xs
      img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_in-person.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_in-person.png";this.onerror=null;')
    .col-sm-4.hidden-xs
      p.subhead.text-center.avenir-db In person
      p.copy.text-center.avenir-light
        span 747 SW 2nd Ave
        br
        span Ste 318 IMB #43
        br
        span Gainesville, FL 32601
  .row.visible-xs
    .col-xs-4
      img.img-responsive.icon(src='https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_in-person.svg', onerror='this.src="https://232acaefd6d17abcc196-ec7beb64f86df3a9fee9a80603d31859.ssl.cf5.rackcdn.com/Icons_in-person.png";this.onerror=null;')
    .col-xs-8
      p.subhead.text-center.avenir-db In person
      p.copy.text-center.avenir-light 
        span 747 SW 2nd Ave
        br
        span Ste 318 IMB #43
        br
        span Gainesville, FL 32601

footer.footer(ng-include='"components/footer/footer.html"')