div(ng-include='"components/navbar/navbar.html"')
.container-fluid.text-center.paper-background.header
  .row
    .col-sm-2
    .col-sm-8
      .row
        .col-sm-12.avenir-light
          h1 Making learning engaging for AP students

      .row
        .col-sm-12.avenir-light
          h2.small-caps A Brief Background on Omninox

      .row
        .col-sm-12.avenir-light
          p.long-copy Three former AP students founded Omninox in 2012 with a vision to help students gain a more engaging learning experience. As former AP students who took over 10 AP exams each, the three founders wanted to share the inspiration and awe they gained about these subjects from their teachers at a top ranked high school by communicating it through user-friendly technology. AP classes seemed like a natural place to start because there aren't very many resources for them, and through the founders' personal experience, AP classes helped them save <strong>tens of thousands of dollars</strong> in college tuition. 
      .row
        .col-sm-12.avenir-light
          h2.small-caps The Vision
      .row
        .col-sm-12.avenir-light
          p.long-copy Omninox was founded on the principle that learning should be fun and engaging. Studying shouldn't be a chore; instead, information should be presented in a way that feels natural, either through conversation or through providing teachers with user-friendly, interactive tools to help engage students. Our vision is to create simple and engaging software services for students, teachers and the classroom. Since this mission of revolutionizing the learning experience requires user input, the Omninox team is constantly looking for feedback on how to make our existing tools more engaging. If you have any ideas or suggestions, feel free to <a href='/contact'>reach out</a>!
      .row
        .col-sm-12.avenir-light
          h3.small-caps Products and Services
      .row
        .col-sm-12.avenir-light
          p.long-copy In addition to creating web-based communal learning experiences, the Omninox team has also created interactive AP test prep books available on the iBookstore. We also offer our expertise in content creation to help schools and businesses take their professional development to the next level. <a href='/contact'>Contact us</a> to learn more about how our team can help you economically engage your staff.
    .col-sm-2

  .row.contrast.break-point
    .col-sm-12
      .row
        .col-sm-12
          h3.avenir-light
            i Interested in our interactive books?
          p.small.avenir-light
            | Click the links below to visit us in the iBookstore
      
      .row
        .col-sm-6.col-sm-offset-3
          a(href='https://itunes.apple.com/us/book/ap-calculus-ab/id821916469?ls=1&mt=13')
            img.book-cover(src='/assets/images/calcab.jpg')
          a(href='https://itunes.apple.com/us/book/ap-calculus-bc/id821936418?ls=1&mt=13')
            img.book-cover(src='/assets/images/calcbc.jpg')
          a(href='https://itunes.apple.com/us/book/ap-statistics/id821967076?ls=1&mt=13')
            img.book-cover(src='/assets/images/stats.jpg')
footer.footer(style='margin-top: 0px;' ng-include='"components/footer/footer.html"')
div(ng-include='"components/livechat/livechat.html"')