// ------------------------------------------
// POST EXCERPTS --- Classic 2 --------------

// Classic2 wrapper id
.post-excerpts--classic2.home-template .container-wrap { 
  padding-top: $grid--excerpt-default;
  padding-left: $bar-left-width + $grid--excerpt-default;
  &.closed {
    padding-left: $grid--excerpt-default;
  }
  @include bp(baby) {
    padding: $grid--excerpt-default;
    padding-right: 0;
  }
}
.post-excerpts#post-excerpts--classic2 {
  max-width: 1165px;
  margin: 0 auto;
  .post-excerpt-box--wrap {
    width: 100%;
    float: left;
    @include bp($grid-to-full-bp) {
      width: 100%;
      display: block;
    }
    p {
      margin-bottom: 1.233em;
    }
  }

  .post-title a { 
    color: $contrast-from-core;
    &:hover {
      color: $link-hover-color;
    }
  }


  .post-excerpt-box--wrap { padding-right: $grid--excerpt-default; }
  .post-excerpt-box {
    position: relative;
    margin-bottom: $grid-block-spacing;
    background-color: $excerpt-hover-bg;
    overflow: hidden;
    height: 100%;
    display: block;
    transition: bottom 0.2s ease;
    &:hover {
      background-color: $excerpt-default-layout-hover-bg;
    }
    .post-excerpt--header {
       display: none;
    }
  }
  .excerptImgBorder--classic2 {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: 15px;
    overflow: hidden;
  }


  .post-excerpt--content {
    padding: 15px;
    font-size: 0.835rem;
  }
  
  p.excerpt-div-p:last-of-type {
    margin-bottom: 0;
  }

  .excerpt-has-featured .post-excerpt--featured-img,
  .featured-with-bg-img {
    min-height: 100%;
    //width: 32.5%;
    width: 20%;
    display: block;
    left: 0;
    position: absolute;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @include bp(1000) {
      width: 33.33%;
      display: block;
    }
  }
  .featured {
    display: block;
  }

  // --------------------------------
  // Image / Excerpt ratio
  .excerpt-has-featured .post-excerpt,
  .post-excerpt-with-bg-img {
    width: 80%;
    float: right;
    @include bp(1000) {
      width: 66.66%;
      display: block;
    }
  }

  // ------------------------------
  // POST EXCERPT META
  .post-excerpt--meta {
    font-size: 0.6rem;
    font-weight: 700;
  }
  a.commentCount {
    white-space: nowrap;
    font-weight: 700;
}

  // ------------------------------
  // READ MORE link
  .readMoreLink--btn { display: none; }
  .readMoreLink--inline { 
    @extend %uppercase;
    font-weight: 700;
  }

} // END post-excerpts--classic2 wrapper